<div class="position-absolute top-50 start-50 translate-middle">
  <form id="login-field" class="card p-2 m-2 d-flex flex-column">
    <h4 class="card-title">Login</h4>
    <mat-form-field class="email">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" name="email" required>
    </mat-form-field>
    <mat-form-field class="password">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput [formControl]="passwordFormControl" required>
      <button mat-icon-button matSuffix (click)="hidePassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSubmit()" type="submit">Login</button>
  </form>
</div>